
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<h1>Ms Salon Art is gald to invite you</h1>

<div>No.1 leading service provider since 2002</div>

<div>We offer wide range of services in terms of 
    <ul>
        <li>Skin Care
            <ul>
                <li> Pedicure</li>
                <li> Manicure.,etc</li>
            </ul>
        </li>
        <li> Hair Care
        <ul>
            <li> Hair Coloring</li>
            <li> Hair Cutting.,etc</li>
        </ul>
        </li>
        <li> Grooming
        <ul>
            <li>Organic Facial</li>
            <li>Threading.,etc</li>
        </ul>
        </li>
        
    </ul>
    
    
    </div>