
@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<address style=" font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: crimson">
    MS Salon Art<br />
    Coimbatore<br />
    <abbr title="Phone">Mobile Number:</abbr>
    987654321
</address>

<address>
    <strong>Mail Us:</strong><a href="mailto:Support@example.com">Mail us@muthusubhaathankarayan.com</a><br />
</address>

