
@{
    ViewBag.Title = "Home";
}

<style>
 

    h2 {
        color: lawngreen;
        text-align: center;
        font-size: 45px;
        padding: 20px 10px 0px 10px;
    }

    h1 {
        font-size: 50px;
        text-align: center;
        padding: 30px 10px;
        margin-bottom: 20px;
    }

    .line1 {
        font-style: oblique;
        font-size: 25px;
    }

    .line2 {
        font-size: 15px;
    }

    .line3 {
    }
</style>
<h2>MS Salon Art </h2>

<h1>Welcome to MS Salon Art</h1>

<div class="line1">GIVE YOURSELF A MOMENT OF WELLNESS</div>

<div class="line2">We offer a wide selection of spa & beauty services for your wellness</div>

<div class="line3">24/7, we will be working to make your facial and body skin healthy and you satisfied and all relaxed</div>



