
@{
    ViewBag.Title = "VerifyAccount";
}

<h2>Verify Account</h2>
<div class="success alert-success">
    <strong>Success! Your Activation is done. </strong>  @ViewBag.Message,  please click here to Login @Html.ActionLink("Login", "Login", "User")
</div> 